
<div class="author">
    <h1 class="author_heading "> About</h1>
    <p class="author_body">A 20 something year old trying to figure out why she chose this career path </p>
</div>

<video autoplay width="970" class="hero-image">
    <source src="/video/about.mp4" type="video/mp4" />
</video>
